.dashboardContainer {
  max-width: 1600px;
  display: flex;
  align-self: center;
  align-items: baseline;
}

.viewStarlinkButton {
  border-radius: 8px;
  width: 100%;
  padding: 8px;
  font-size: large;
  background: black;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .dashboardContainer {
    display: flex;
    flex-direction: column-reverse;
    align-self: stretch;
    align-items: stretch;
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
  }

  .patchImage {
    width: 200px;
  }
}
