.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.navbar {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: space-between;
  align-items: center;
}

.placeholder {
  min-height: 1px;
  width: 75px;
}

.canvas {
  background-color: black;
}

.canvasContainer {
  height: 100%;
  width: 100%;
}

.tooltip {
  position: fixed;
  top: -999px;
  padding: 8px;
  min-width: 250px;
  background-color: #4a4a4a;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4a4a4a;
  padding: 2px;
  font-size: 18px;
  font-weight: bolder;
}

.tooltipBody {
  background-color: #696969;
  list-style-type: none;
  padding: 8px;
  margin: 0;
}

.disclaimer {
  position: fixed;
  bottom: 2px;
  left: 2px;
  color: white;
  font-size: 10px;
}

.disclaimer a {
  color: white;
}
